@model Domain.Course
@{
    ViewData["Title"] = "Course Page";
}
    <div style="margin-left: auto; margin-right: auto;">
        <h1>@Model.Title Course</h1>
        <text>
            Author: <span style="font-style: oblique">@Model.Author</span> <br />
            Date: <span style="font-style: oblique">@Model.Date.ToShortDateString() </span> <br />
            Rating: <span style="font-style: oblique; color: limegreen">@Model.Rating</span>
        </text>
        <br /><br />
        <h5>Course description:</h5>
        <p>@Model.Description</p>
        <h2>Lessons:</h2>
        <div>
            @foreach (var lesson in Model.Lessons)
            {

                <h4>@lesson.Title</h4>
                <p>@lesson.Description</p>
                <iframe width="560" height="315" src="@lesson.Link" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br /><br />

            }
        </div>
    </div>