@model Endava.iAcademy.Domain.Course
@{
    ViewData["Title"] = "Course Page";
}
    <div style="margin: auto; width: 65%;">
        <h1>@Model.Title Course</h1>
        <text class="text-muted">
            Author: <span style="font-style: oblique">@Model.Author</span> <br />
            Date: <span style="font-style: oblique">@Model.Date.ToShortDateString() </span> <br />
            Rating: <span style="font-style: oblique; color: limegreen">@Model.Rating</span>
        </text>
        <br /><br />
        <h5>Course description:</h5>
        <p class="text-muted">@Model.Description</p>
        <h2>Lessons:</h2>
            @foreach (var lesson in Model.Lessons)
            {

                <h4>@lesson.Title</h4>
                <p class="text-muted">@lesson.Description</p>
                <iframe width="560" height="315" src="@lesson.Link" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br /><br />

            }
    </div>